@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&display=swap");
* {
  --purple: #48404d;
  --light-purple: #b4afb7;
  --border-radius: 20px;
  --cursive-font: "Dancing Script", cursive;
  --main-background: url("./img/iStock-1185906653MED.jpg");
  --yellow: rgb(174, 165, 51);
  --svg-bg: url("./img/Blog-bg.svg");
}
body {
  font-family: "Handlee", cursive;
  height: 100vh;
  margin: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: var(--main-background);
  background-size: 15% 25%; /* scales the image to 50% of its original size */
  opacity: 0.2;
  z-index: -1;
}
#root {
  height: 100%;
}
.blog {
  display: flex;
  flex-direction: column;
  background-image: var(--svg-bg);
  background-repeat: no-repeat;
}
.blog-posts-secure {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.posts-secure-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.blog-secure {
  width: 100%;
  height: 100%;
}
/* BLOG POSTS */
.blog-posts {
  width: 80vw;
  background-size: contain;
  background-repeat: repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-post {
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--purple);
  max-width: 700px;
  width: 50vw;
  margin: 15px;
  color: var(--purple);
  padding: 15px;
}
.blog-post,
.comment,
.blog-post-menu {
  transform: translate(-20px, -10px);
  animation: slideAndFadeRight 1s ease-in-out 0s 1 forwards;
}
@keyframes slideAndFadeRight {
  0% {
    opacity: 0;
    transform: translate(-20px, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.public-date {
  font-family: var(--cursive-font);
}
.public-body,
.comment-wrapper,
.body {
  white-space: pre-line;
}
.public-body {
  padding: 5px;
  word-wrap: break-word;
}
.public-body p,
.public-body ul {
  margin: 0;
}
.posts-secure-list .public-body,
.blog-posts .public-body {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-line;
}
/* ASIDE */
.aside {
  width: 20vw;
  min-width: 250px;
  color: white;
  display: flex;
  align-items: center;
  font-family: var(--cursive-font);
  justify-content: space-between;
  height: 100%;
  right: 0;
  animation: slideAndFadeDown 1s ease-in-out 0s 1 forwards;
}
@keyframes slideAndFadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    down: 100%;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    down: 0;
  }
}
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-description-container {
  max-width: 150px;
}
.blog-description {
  white-space: pre-line;
  font-size: 20px;
}
.aside-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-img {
  max-width: 150px;
  border-radius: 20px;
}
.clickable {
  transition: all 0.5s ease-out;
}
.clickable:hover {
  cursor: pointer;
}
.archive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.archive-container h3 {
  font-size: 25px;
}
.archive .clickable:hover {
  background-color: var(--yellow);
  color: var(--purple);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
}
.archive .clickable {
  padding: 5px;
}
.archive {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.archive h3 {
  margin: 0;
}
.enter {
  background-color: var(--light-purple);
  width: 100px;
  height: 40px;
  color: var(--purple);
  border: none;
  border-radius: 20px;
  font-weight: 900;
  margin-bottom: 15px;
}
.change-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
#username,
#password {
  height: 25px;
  border-radius: var(--border-radius);
  border: none;
  padding: 5px;
}
.username,
.password {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside button {
  margin: 15px 0;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
}
.submit-bloginfo {
  background-color: var(--purple);
  color: white;
}
button:hover {
  background-color: var(--yellow);
}
button {
  cursor: pointer;
  font-family: var(--cursive-font);
  font-size: 20px;
  transition: all 0.5s ease-out;
}
.github-link {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.github {
  max-width: 40px;
}
.github-name {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
/* BLOG POST PG */
.blog-post-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--purple);
}
.blog-post-and-menu {
  display: flex;
}
.blog-post-menu {
  margin-top: 15px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.blog-post-menu img {
  max-height: 35px;
}
.blog-post-button {
  background-color: var(--purple);
  border: none;
  border-radius: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-comment {
  font-family: var(--cursive-font);
  background-color: var(--light-purple);
  border: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  border-radius: var(--border-radius);
  margin-top: 15px;
  padding: 10px 0;
}
.create-comment form {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-comment form label {
  color: var(--purple);
  font-size: 23px;
  font-weight: 900;
}
.add-name {
  margin-top: 15px;
}
.add-name,
.add-text {
  display: flex;
  flex-direction: column;
}
.add-name label,
.add-text label {
  color: white;
  font-size: 20px;
}
.name-label,
.comment-label {
  margin: 5px;
}
#name {
  height: 40px;
}
#comment {
  height: 100px;
}
#name,
#comment {
  border-radius: var(--border-radius);
  border: none;
  width: 220px;
  padding: 7px;
}
textarea {
  vertical-align: top;
}
.submit-comment-container {
  display: flex;
  justify-content: center;
}
.submit-comment-container button {
  background-color: var(--purple);
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 900;
  margin: 15px 0;
}
.comment-wrapper {
  background-color: var(--light-purple);
  min-width: 500px;
  border: 1px solid var(--purple);
  margin: 15px 0;
  border-radius: var(--border-radius);
  padding: 0 15px;
}
/* BLOG SECURE */
/* NEW POST PAGE */
.create-blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.create-blog-post label {
  font-family: var(--cursive-font);
  font-size: 20px;
}
.create-blog-post form {
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--purple);
  min-width: 700px;
  margin-top: 15px;
  color: var(--purple);
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.title-container {
  display: flex;
  flex-direction: column;
}
.title-container,
.body,
.checkbox-container {
  font-family: var(--cursive-font);
  font-size: 25px;
}
#title,
#body {
  border-radius: var(--border-radius);
  border: 1px solid var(--purple);
  padding: 7px;
}
#title {
  height: 40px;
  font-size: 20px;
}
.body {
  height: 400px;
  min-width: 600px;
}
.edit-submit-container {
  display: flex;
  justify-content: center;
}
.edit-post,
.delete-post,
.new-post-submit,
.edit-submit-btn,
.delete-comment {
  margin: 15px 0;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--purple);
  color: white;
}
.edit-post:hover,
.delete-post:hover {
  background-color: var(--yellow);
  color: var(--purple);
}
.new-post-submit:hover {
  background-color: var(--yellow);
  color: var(--purple);
}
.edit-btns {
  display: flex;
  gap: 15px;
}
.new-post-submit-container {
  display: flex;
  justify-content: center;
}
/* BLOG_SECURE ASIDE */
.bloginfo-form-container {
  width: 100%;
  background-color: var(--light-purple);
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}
.edit-description-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-input-container,
.picture-input-container,
.description-input-container {
  display: flex;
  flex-direction: column;
}
.title-input-container label,
.picture-input-container label,
.description-input-container label {
  color: var(--purple);
}
#blog-title,
#picture-url,
#blog-description-container {
  border-radius: 20px;
  border: none;
}
#blog-title,
#picture-url {
  height: 25px;
}
#blog-description {
  height: 50px;
  width: 200px;
  padding: 7px;
}
@media (max-width: 750px) {
  .blog {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .aside {
    max-height: 100px;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
  }
  .aside-blog {
    width: 100%;
    display: flex;
  }
  .blog-section {
    display: flex;
    width: 100%;
  }
  .blog-picture,
  .blog-description-container,
  .github-name,
  .auth-section,
  .github-link {
    display: none;
  }
  .blog-posts {
    margin-top: 100px;
  }
  .blog-post-container {
    max-width: 80%;
  }
  .blog-name {
    font-size: 9px;
  }
  .archive-container {
    font-size: 12px;
  }
  .archive h3 {
    font-size: 16px;
  }
}
