@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  --purple: #48404D;
  --light-purple: #b4afb7;
  --border-radius: 20px;
  --cursive-font: 'Dancing Script', cursive;
  --main-background: url('./img/iStock-1185906653MED.jpg');
}
body {
  height: 100vh;
  margin: 0;
  background-image: var(--main-background);

}
#root {
  height: 100%;
}
.blog {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* BLOG POSTS */
.blog-posts {
  min-width: 83%;
  background-size: contain;
  background-repeat: repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-post {
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--purple);
  min-width: 700px;
  margin-top: 15px;
  color: var(--purple);
}
/* ASIDE */
.aside {
  min-width: 260px;
  background-color: var(--purple);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--cursive-font);
}
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-img {
  max-width: 150px;
  border-radius: 20px;
}
.clickable:hover {
  cursor: pointer;
}
.archive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.archive-container h3 {
  font-size: 25px;
}
.archive .clickable:hover {
  background-color: white;
  color: var(--purple);
  border-radius: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
}
.archive {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.enter {
  background-color: var(--light-purple);
  width: 100px;
  height: 40px;
  color: var(--purple);
  border: none;
  border-radius: 20px;
  font-weight: 900;
  margin-bottom: 15px;
}
.change-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
#username, #password{
  height: 25px;
  border-radius: var(--border-radius);
  border: none;
  padding: 5px;
}
.username, .password {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in, .can-click {
  margin: 15px 0;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
}
button:hover {
  background-color: white;
}
button {
  cursor: pointer;
  font-family: var(--cursive-font);
  font-size: 20px;
}
/* BLOG POST PG */
.blog-post-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--main-background);  
  height: 100%;
}
.create-comment {
  font-family: var(--cursive-font);
  background-color: var(--purple);
  border: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  border-radius: var(--border-radius);
  margin-top: 15px;
  padding: 15px 0;
}
.create-comment form {
  max-width: 250px;
}
.add-name {
  margin-top: 15px;
}
.add-name, .add-text {
  display: flex;
  flex-direction: column;
}
.add-name label, .add-text label {
  color: white;
  font-size: 20px;
}
#name {
  height: 40px;
}
#comment {
  height: 100px;
}
#name, #comment {
  border-radius: var(--border-radius);
  border: none;
  width: 220px;
  padding: 7px;
}
textarea {
  vertical-align: top;
}
.submit-comment-container {
  display: flex;
  justify-content: center;
}
.comment-wrapper {
  background-color: var(--light-purple);
  min-width: 500px;
  border: 1px solid var(--purple);
  margin: 15px 0;
  border-radius: var(--border-radius);
  padding: 0 15px;
}